<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.copy.bookstore.infrastructure.acl.repository.mybatis.dao.AccountDoMapper">
  <resultMap id="BaseResultMap" type="com.github.copy.bookstore.infrastructure.acl.repository.table.AccountDo">
    <!--@mbg.generated-->
    <!--@Table account-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="location" jdbcType="VARCHAR" property="location" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, username, "password", "name", avatar, telephone, email, "location"
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from account
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from account
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.github.copy.bookstore.infrastructure.acl.repository.table.AccountDo" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into account (username, "password", "name", 
      avatar, telephone, email, 
      "location")
    values (#{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{avatar,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{location,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.github.copy.bookstore.infrastructure.acl.repository.table.AccountDo" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into account
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        "password",
      </if>
      <if test="name != null">
        "name",
      </if>
      <if test="avatar != null">
        avatar,
      </if>
      <if test="telephone != null">
        telephone,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="location != null">
        "location",
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null">
        #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="location != null">
        #{location,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.github.copy.bookstore.infrastructure.acl.repository.table.AccountDo">
    <!--@mbg.generated-->
    update account
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        "password" = #{password,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        "name" = #{name,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null">
        avatar = #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="location != null">
        "location" = #{location,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.github.copy.bookstore.infrastructure.acl.repository.table.AccountDo">
    <!--@mbg.generated-->
    update account
    set username = #{username,jdbcType=VARCHAR},
      "password" = #{password,jdbcType=VARCHAR},
      "name" = #{name,jdbcType=VARCHAR},
      avatar = #{avatar,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      "location" = #{location,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2021-04-01-->
  <select id="getByUsername" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from account
    where username=#{username,jdbcType=VARCHAR}
  </select>


<!--auto generated by MybatisCodeHelper on 2021-04-03-->
  <select id="findByUsernameOrTelephoneOrEmail" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from account
    where username=#{username,jdbcType=VARCHAR} or telephone=#{telephone,jdbcType=VARCHAR} or
    email=#{email,jdbcType=VARCHAR}
  </select>
</mapper>